* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.error-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 350px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.253) ;
    transform: scale(1);
    transition: all 0.3s ease-out;

}

.gif img {
    width: 175px;
    height: auto;
    margin-top: 10px;
}

.logo img {
    width: 35px;
    height: auto;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.error-message .text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.ok-btn {
    align-self: stretch;
    
    

}

.ok-btn input {
    display: none;
}

.ok-btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    
}

input:checked  label .error-box {
    transform: scale(0);
}

